@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");

*,
*::after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Montserrat", sans-serif;
  /*font-family: 'Abril Fatface', cursive;*/
  letter-spacing: 1px;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

.container,
.UX {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: row; /*let L/R box split*/
  flex-wrap: nowrap;
  justify-content: space-between;
}

.swipe {
  height: 100%;
  flex-basis: 50%;
  flex-shrink: 4;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10%;
  margin-bottom: 0px;
  height: auto;
  cursor: pointer;
}

.logo_top {
  padding: 2em;
  margin-top: 0%;
  margin-left: 0%;
}

.logo_vani {
  width: 20%;
  bottom: 20%;
  position: relative;
  margin-top: 40px;
}

.menu .logo_top {
  position: absolute;
  margin-top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 22px;
  padding: 2em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu {
  position: relative;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
  font-size: 12px;
  font-weight: 700;
}

ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #47525e;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 16px;
  transform: 0.5s;
}
ul li.active a {
  background: transparent;
  color: #ffd185;
  border: 1px solid #47525e;
}

ul li a:hover {
  background: transparent;
  color: #ffd185;
  border: 1px solid #47525e;
}
.swipe:hover {
  flex-basis: 62%;
}

.swipe_left {
  background: url("https://images.pexels.com/photos/34600/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat left;
  background-size: cover;
}

.swipe_righ {
  background-color: #f0ebe2;
}

.dscrb_me {
  font-weight: 700;
  margin-left: 160px;
}
.about_layout {
  float: left;
  width: 50%;
  margin-bottom: 20px;
  margin-left: 0;
}

.degree {
  font-size: 16px;
  position: absolute;
  margin-right: 80px;
  padding: 1em;
  color: 47525e;
  border: 1px solid #47525e;
  background: transparent;
  border-radius: 10px;
}

.box .uxi_head {
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 8px;
}

.box .b_head {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.box .welcome {
  color: #f0ebe2;
  padding: 2em;
  background-image: linear-gradient(
    to right,
    rgba(34, 32, 32, 0.589),
    rgba(65, 65, 58, 0.37)
  );
}
.box .u_head {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.btn_lrn {
  color: #ffd185;
  text-decoration: none;
  padding: 12px 45px;
  text-align: center;
  background: #47525e;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.btn_lrn:hover {
  background: #ffd185;
  color: #47525e;
}

.logo_v img {
  float: left;
  width: 120px;
  height: auto;
}

.name {
  box-sizing: border-box;

  margin-bottom: 0px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  font-size: 60px;
  color: #47525e;
  text-align: center;
}
.myname {
  margin-top: 40px;
}

.lastnm {
  text-align: center;
  text-indent: 180px;
}

.nickname {
  font-size: 15px;
  color: #969faa;
  text-align: center;
  text-indent: 280px;
  letter-spacing: -1px;
  font-weight: 700;
}
.plofile_pic {
  position: absolute;
  width: 300px;
  margin-left: 10%;
}
.myPassion {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_lrnmore .scrolling {
  margin-top: 0px;
}

.scrolling {
  margin-top: 20px;
  position: relative;
  padding: 2em 1em;
  border-radius: 50px;
  border: 2px solid #47525e;
}

.scrolling:after {
  content: "";
  position: absolute;
  left: 16px;
  width: 5px;
  border-radius: 50px;
  height: 20px;
  background: #47525e;
  animation-name: scrolling;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes scrolling {
  0% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}

.content_area {
  padding: 4em;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.contact_me {
  font-weight: 700;
}
.red_leb {
  color: red;
  font-size: 28px;
}
.button {
  position: absolute;
  background-color: transparent;
  border: 1px solid #ffd185;
  font-size: 14px;
  right: 20em;
  bottom: 55em;
  color: #47525e;
  padding: 1em 2em;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: #ffd185;
  background: #47525e;
}

 table {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: #47525e;
}
#skills td {
  padding: 1em;
}

#skills table  tr :hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
#skills table  td :hover {
  box-shadow: none;
}

#myProj {
  
  background-color: lightgray;
}

#myProj th {
    padding: .5em;
  }
  #myProj td {
      font-size: 16px;
      font-weight: 400;
    padding: 1em;
  }

  a:link, a:visited {
   
    color: #47525e;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: #ffba5c;
  }

.backtotop {
  position: absolute;
  right: 1em;
  bottom: 120px;
  color: #f0ebe2;
  background: rgb(0, 0, 0.8, 0.8);
  padding: 0.7em;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.backtotop:hover {
  color: #ffba5c;
  background: none;
}

footer {
  padding-top: 10px;
  color: white;
  background: #47525e;
  font-size: 16px;
  height: 100px;
  display: block;
  text-align: center;
}

.contIcon {
  text-align: center;
  margin-top: 400px;
}

.linkIcon{
  color: #47525e;
  padding: 0 10px;
}

.linkIcon:hover{
  color:#ffba5c;
  
  
}
